@import "nyc-ol-lib.css";
@import "ol.finderapp.css";
@import "nyc-ol-lib.css";
@import "ol.finderapp.css";
@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";
@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";

.fnd #banner {
  background-image: url(../img/nyc.svg);
  background-size: 49px 24px;
  padding: 4px 0 0 57px;
}

.fnd #home:focus svg {
  transform: scale(0.32,0.33);
  margin-top: -11px;
  margin-left: -48.5px;
}

#marquee {
  display: none;
  border-top: 1px solid #F2DEDE;
  border-bottom: 1px solid #F2DEDE;
  background-color: #E75624;
  display: table;
  position: fixed;
  top: 36px;
  right: 0;
  left: auto;
  height: 24px;
  margin: 0;
  z-index: 0;
  width: 400px;
}
.alert #marquee {
  display: block;
}
.alert #tabs {
  top: 60px;
}
.alert #marquee div>div>div {
  position: absolute;
  white-space: nowrap;
  padding: 3px;
  animation: alert 15s linear infinite;
  color: #FCED04;
}

@keyframes alert {
  0% {
    right: -200%;
  }
  100% {
    right: 100%;
  }
}

@keyframes alert-large {
  0% {
    right: -125%;
  }
  100% {
    right: 100%;
  }
}

@keyframes alert-small {
  0% {
    right: -250%;
  }
  100% {
    right: 100%;
  }
}

body *, .btn {
  color: #005C7A;
}

.btn-sq:hover, .btn-rnd:hover {
  background-color: #006080;
}

#mode td .btn-sq.active {
	background-color: #006080;
}

.tabs .btns button.btn.active:focus{
  color: black;
}

.desc {
  padding: 10px 5px 10px 5px; 
  text-align: center;
  font-size: 18px;
  margin-left: 2px;
  margin-top: -3px;
  border-bottom: 1px solid var(--color-border);
  font-weight: bold;
}

@media only screen and (min-width: 605px) {
  .fnd #banner * {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 750px), (max-height: 350px) {
  #marquee {
    width: 100%;
  } 
  .alert #marquee div>div>div {
    animation: alert-large 15s linear infinite;
  }
}

@media only screen and (max-width: 550px), (max-height: 350px) {
  #marquee {
    width: 100%;
  } 
  .alert #marquee div>div>div {
    animation: alert 15s linear infinite;
  }
}


@media only screen and (max-width: 350px), (max-height: 350px) {
  #marquee {
    width: 100%;
  } 
  .alert #marquee div>div>div {
    animation: alert-small 15s linear infinite;
  }
}


@media only screen and (max-width: 285px){
  .fnd #banner>div {
    margin-right: 115px;
  }
}

.fnd #banner * {
  font-size: 3vw;
}

#back-to-map.btn:hover:before {
  background-color: var(--color-light);
}

.fnd #facilities {
  background-color: var(--color-medium);
}

.lst-it:nth-child(odd), .lst-it:nth-child(odd) .dtl .clps .content {
  background-color: var(--color-light);
}

button.btn.btn-rnd.btn-prv, button.btn.btn-rnd.btn-nxt {
  width: 24px;
}

@media only screen and (max-width: 285px){
  #back-to-map {
      width: 90px !important;
  }
}

@media only screen and (max-width: 360px){
  #back-to-map {
      width: 120px;
  }
}

.home-btn {
	position: absolute;
	left: 2px;
	top: 2px;
  right: 0;
  display: none;
}
.btn-home {
	position: absolute;
  left: 0;
  top: 112px;
	background-image: var(--home-icon, none);
  background-size: 30px;
}
.alert .facility .name {
  margin-left: 22px;
}

.facility ul {
  margin: 5px 10px;
}
.facility li {
  margin-left: -10px;
}
.f-tip {
  max-width: 250px;
}
.f-tip * {
  margin: 0;
  padding: 0;
  text-align: left;
}
.f-tip ul {
  padding: 3px;
  background-color: var(--color-medium);
  list-style-type: none;
}
.f-tip .facility li {
  margin-left: 0;
}


/* LEGEND */

.legend {
  display: none;
  padding-top: 10px;
  
}
.leg-sw.closed{
  background-color: #999999;

}
.leg-sw.open {
  background-color: #19DB17;

}
.leg-sw.open-soon {
  background-color: #F3E318;

}
.leg-sw.inactive {
  background-color: #0080A9;
  
}

.leg-sq .inactive {
  display: none;
}

.leg-it {
	height: 22px;
	margin-top: 5px;
	width: auto;
  display: inline-block;
  text-align: left;
}

.leg-it>span {
  margin-left: -5px;
  margin-right: 5px;
}

.leg-sw {
	float: left;
	width: 18px;
	height: 18px;
	margin: 0px 10px 5px 3px;
  background-color: var(--color-dark);
	border: 1px solid #1A1A1A;
	border-radius: 50%;
}

.leg {
  border: 1px solid #1A1A1A;
  margin: auto;
  width: 345px;
  padding: 5px 0px;
  background-color: var(--color-light-translucent);
}

@media screen and (max-width: 375px) {
  .leg {
    width: 90%;
  }
}

.chc-chc.status label:before,
.facility.open-to-public .name:before,
.facility.opening-soon .name:before,
.facility.closed-to-public .name:before {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #1A1A1A;
  content: ' ';
  border-radius: 50%;
  margin: 0 3px -4px -22px;
}
.chc-chc.status label:before {
  margin: 0 7px -4px -4px;
}
.chc-chc.status label[for=chc-chc-5]::before,
.facility.open-to-public .name:before {
  background-color: #19DB17;
}

.chc-chc.status label[for=chc-chc-6]::before,
.facility.opening-soon .name:before   {
  background-color: #F3E318;
}

.chc-chc.status label[for=chc-chc-7]::before,
.facility.closed-to-public .name:before {
  background-color: #999999;
}

.fnd .facility .btn.prep {
  display: block;
  width: auto;
  margin-top: 3px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22297%22%20height%3D%22297%22%3E%3Cg%20style%3D%22fill%3A%230080A9%22%3E%3Cpath%20d%3D%22M237.333%2C33h-50.14c-2.558-18.613-18.556-33-37.86-33s-35.303%2C14.387-37.86%2C33h-51.14C50.408%2C33%2C42%2C41.075%2C42%2C51v228%20c0%2C9.925%2C8.408%2C18%2C18.333%2C18h177c9.925%2C0%2C17.667-8.075%2C17.667-18V51C255%2C41.075%2C247.258%2C33%2C237.333%2C33z%20M93.052%2C48%20c3.432%2C18.033%2C19.084%2C31%2C38.092%2C31h36.379c19.008%2C0%2C34.66-12.967%2C38.092-31H223v216H75V48H93.052z%20M149.333%2C16%20c10.456%2C0%2C19.242%2C7.259%2C21.601%2C17h-43.201C130.091%2C23.259%2C138.877%2C16%2C149.333%2C16z%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22109%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C105.076%20189.645%2C94.924%20175.427%2C110.39%20169.237%2C105.347%20159.763%2C116.976%20176.907%2C130.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22157%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C153.076%20189.645%2C142.924%20175.427%2C158.39%20169.237%2C153.347%20159.763%2C164.976%20176.907%2C178.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22205%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C201.076%20189.645%2C190.924%20175.427%2C206.39%20169.237%2C201.347%20159.763%2C212.976%20176.907%2C226.944%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.lst-it.active {
  background-color: var(--color-dark);
}
.lst-it.active div, .lst-it.active h3, .lst-it.active ul * {
  color: #fff;
}

.alert .facility .addr {
  margin-left: 23px;
}

@media only screen and (max-width: 400px) {
  .fnd .splash .dia {
      width:340px;
      left: calc(50% - 180px);
      height: 350px;
      top: 50px;
  }
}

@media only screen and (max-width: 345px) {
  .fnd .splash .dia {
      width:300px;
      left: calc(50% - 159px);
      height: 350px;
      top: 50px;
  }
}
 
@media only screen and (max-height: 400px) {
	.fnd .splash .dia {
    top: 20%;
	}
}

@media only screen and (max-height: 340px) {
  .fnd .splash .dia {
      top:10%;
      height: 100%;
      overflow-y: auto;
  }
}

@media only screen and (max-width: 340px) {
  .pop, .pop>.content {
      left: -10px;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 320px;
  }

}


@media only screen and (max-width: 345px) {
  .fnd .splash .dia .btn-ok {
    width: 295px !important;
  }
}

.fnd .splash .dia .btn-ok {
  width: 315px;
}
