@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";
@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";

.fnd #banner {
  background-image: url(../img/nyc.svg);
  background-position: 1px 4px;
  background-size: 77px 26px;
}

.fnd #home:focus svg {
  transform: scale(.51,.41);
  margin-top: -14px;
  margin-left: -37.5px;
}

#marquee {
  display: none;
  border-top: 1px solid #F2DEDE;
  border-bottom: 1px solid #F2DEDE;
  background-color: #E75624;
  display: table;
  position: fixed;
  top: 36px;
  right: 0;
  left: auto;
  height: 24px;
  margin: 0;
  z-index: 0;
  width: 400px;
}
.alert #marquee {
  display: block;
}
.alert #tabs {
  top: 60px;
}
.alert #marquee div>div>div {
  position: absolute;
  white-space: nowrap;
  padding: 3px;
  animation: alert 15s linear infinite;
  color: #FCED04;
}

@keyframes alert {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

body *, .btn {
  color: #005C7A;
}

.tabs .btns button.btn.active:focus{
  color: black;
}

.ada-content {
  padding: 10px 5px 10px 5px; 
  text-align: center;
  font-size: 18px;
}

@media only screen and (min-width: 675px) {
  .fnd #banner * {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 750px), (max-height: 350px) {
  #marquee {
    width: 100%;
  } 
}
@media only screen and (max-width: 285px){
  .fnd #banner>div {
    margin-right: 115px;
  }
}

.fnd #banner * {
  font-size: 3vw;
}

#back-to-map.btn:hover:before {
  background-color: var(--color-light);
}

.fnd #facilities {
  background-color: var(--color-medium);
}

.lst-it:nth-child(odd), .lst-it:nth-child(odd) .dtl .clps .content {
  background-color: var(--color-light);
}

button.btn.btn-rnd.btn-prv, button.btn.btn-rnd.btn-nxt {
  width: 24px;
}

@media only screen and (max-width: 285px){
  #back-to-map {
      width: 90px;
  }
}