@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";
@import "nyc-lib.css";

@import "ol.featuretip.css";
@import "ol.popup.css";
@import "ol.finderapp.css";

#marquee {
  display: none;
  border-top: 1px solid #fefbda;
  border-bottom: 1px solid #fefbda;
  background-color: #e75624;
  display: table;
  position: fixed;
  top: 36px;
  right: 0;
  left: auto;
  height: 24px;
  margin: 0;
  z-index: 0;
  width: 400px;
}
.alert #marquee {
  display: block;
}
.alert #tabs {
  top: 60px;
}
.alert #marquee div>div>div {
  position: absolute;
  white-space: nowrap;
  padding: 3px;
  animation: alert 15s linear infinite;
  color: yellow;
}

@keyframes alert {
  0% {
    right: -100px;
  }
  100% {
    right: 500px;
  }
}